<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ invoice.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="item">
      <strong class="capitalize" style="font-size: 32px;">
        {{ invoice.title }}
      </strong>
      <img class="item-image" [src]="invoice.itemImagePath"/>
    </div>
    <img class="qr-code" [src]="invoice.imgPath" style="width: 150px;"/>

    <div class="price">
      <img class="price-image" [src]="invoice.priceImagePath" style="margin-left: 10%;"/>
      <p class="value" style="margin-top: 38px; font-size: 48px; color: black;">
        {{ invoice.xym }}
      </p>
      <img [src]="invoice.coinImagePath"/>
    </div>
  </div>
</ion-content>
